@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-full max-w-[1200px]   px-5 2xl:max-w-[1400px];
  }
}
@layer components {
  .gr-text {
    @apply bg-blueGr bg-clip-text text-transparent;
  }
  .bead {
    @apply hover:translate-y-5  animate-bounce-slow  transition-all duration-[2s];
  }
  .bead-delayed {
    @apply hover:translate-y-5  animate-bounce-slow-delayed  transition-all duration-[2s];
  }
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-ExtraBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Light.otf");
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #05050f;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #14133b #060610;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0c0a1d;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-thumb:hover body::-webkit-scrollbar-track {
  background: #161426;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #0262f7;
}

body::-webkit-scrollbar-thumb {
  background-color: #192538;
  border-radius: 200px;
  border: 1px solid #192538;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-block: 60px;
}
.explore {
  animation: move 70s ease-in-out 0s infinite alternate;
}
.team {
  animation: move-reverse 70s ease-in-out 0s infinite alternate;
}
.eco-words {
  animation: float 5s ease-in-out 0s infinite alternate;
}

@keyframes move {
  0% {
    top: 0;
    left: -40%;
  }
  25% {
    top: -35%;
    left: -40%;
  }
  50% {
    top: -40%;
    left: 10%;
  }
  75% {
    top: -40%;
    left: -40%;
  }
  100% {
    top: 0;
    left: -40%;
  }
}
@keyframes move-reverse {
  0% {
    top: 0;
    right: -30%;
  }
  25% {
    top: -75%;
    right: -30%;
  }
  50% {
    top: -75%;
    right: 10%;
  }
  75% {
    top: -75%;
    right: -30%;
  }
  100% {
    top: 0;
    right: -30%;
  }
}
@keyframes float {
  from {
    transform: translateX(-8px) translateY(-8px);
  }
  to {
    transform: translateX(8px) translateY(8px);
  }
}
.roadmap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.roadmap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.review-slider .splide__slide {
  padding: 1px;
}
.white-dot {
  list-style: none;
}
.white-dot li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.white-dot li::before {
  content: "";
  margin-top: 8px;
  border-radius: 50%;
  min-width: 7px;
  min-height: 7px;
  background-color: white;
}
